<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="./phpunit.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnNotice="true"
         failOnWarning="true"
         failOnDeprecation="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
>
    <testsuites>
        <testsuite name="bignumbers/tests">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </source>
</phpunit>
